$accent: #60a0f9;

.App {
  position:absolute;
  width:100%;
  min-height: 100vh;
  // background: #4B79A1;
  // background: -webkit-linear-gradient(to top, #283E51, #0A2342);
  // background: linear-gradient(to top, #283E51, #0A2342);
  // background: -olinear-gradient(to top, #283E51, #0A2342); 
}
