$accent: #60a0f9;


.journal {
    border-top: 1px solid $accent;
    padding-bottom: 60px;
    // border-radius: 3px;
}

.addJournalEntryDiv {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addJournalEntryBtn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    // background-color: rgb(98, 98, 98);
    background-color: $accent;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.addJournalEntryForm {
    
}

.topRow, .contentRow {
    padding: 10px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    div {
        display: flex;
        align-items: center;
    }
}

.userImg {
    margin-right: 10px;
}

.optionsBtn {
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    height: fit-content;
} 

.options {
    padding: 15px;
    font-size: .8rem;
    max-height: 70%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    position: fixed;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // Center an absolute div
    top: 50%;
    left: 50%;
    // For animation
    transform: translate(-50%, -1500%);
    transition: all 0.2s;
    opacity: 0;
}

.showOptions {
    transform: translate(-50%, -50%);
    opacity: 1;
}


.option {
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: $accent;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    width: 60%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImg {
    width: 40px;
    height: 40px;
    border-radius: 100px;

}

.contentRow {   

}

@media( min-width: 768px ) {
    .options {
        width: 20%;
    }
}